@page "/medicos/create"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Models
@inject IDbContextFactory<BlazorApp.Infrastructure.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Medico</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Medico" OnValidSubmit="AddMedico" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Medico.Nome" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Medico.Nome" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="crm" class="form-label">Crm:</label> 
                <InputText id="crm" @bind-Value="Medico.Crm" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Medico.Crm" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="especialidade" class="form-label">Especialidade:</label> 
                <InputText id="especialidade" @bind-Value="Medico.Especialidade" class="form-control" /> 
                <ValidationMessage For="() => Medico.Especialidade" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/medicos">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Medico Medico { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMedico()
    {
        using var context = DbFactory.CreateDbContext();
        context.Medicos.Add(Medico);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/medicos");
    }
}
