@page "/medicos/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Models
@inject IDbContextFactory<BlazorApp.Infrastructure.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Medico</h2>
<hr />
@if (Medico is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Medico" OnValidSubmit="UpdateMedico" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Medico.Id" value="@Medico.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Medico.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Medico.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="crm" class="form-label">Crm:</label>
                    <InputText id="crm" @bind-Value="Medico.Crm" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Medico.Crm" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="especialidade" class="form-label">Especialidade:</label>
                    <InputText id="especialidade" @bind-Value="Medico.Especialidade" class="form-control" />
                    <ValidationMessage For="() => Medico.Especialidade" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/medicos">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Medico? Medico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Medico ??= await context.Medicos.FirstOrDefaultAsync(m => m.Id == Id);

        if (Medico is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMedico()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Medico!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MedicoExists(Medico!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/medicos");
    }

    private bool MedicoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Medicos.Any(e => e.Id == id);
    }
}
