@page "/medicos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp.Models
@using BlazorApp.Infrastructure
@inject ApplicationDbContext Context

<PageTitle>Lista de Médicos</PageTitle>

<h1>Lista de Médicos</h1>

<p>
    <a href="medicos/create">Criar Novo Médico</a>
</p>

<QuickGrid Class="table" Items="Context.Medicos" TGridItem="Medico">
    <PropertyColumn Property="medico => medico.Nome" Title="Nome" />
    <PropertyColumn Property="medico => medico.Crm" Title="CRM" />
    <PropertyColumn Property="medico => medico.Especialidade" Title="Especialidade" />

    <TemplateColumn Context="medico">
        <a href="@($"medicos/edit?id={medico.Id}")">Editar</a> |
        <a href="@($"medicos/details?id={medico.Id}")">Detalhes</a> |
        <a href="@($"medicos/delete?id={medico.Id}")">Excluir</a>
    </TemplateColumn>
</QuickGrid>

@code {
    // Não é necessário carregar os dados na memória; o QuickGrid consumirá diretamente o IQueryable.
}
