@page "/medicosOld"
@rendermode InteractiveServer
@inject IMedicoRepository repository
@inject NavigationManager navigaion


<CustomHeader>
    <div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
</CustomHeader>
<button class="btn btn-primary" @onclick="NovoMedico">Novo Médico</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CRM</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <MedicoTemplateList Medicos="@Medicos" DeleteCallback="Delete" />
    </tbody>
</table>
@code {
    public List<Medico> Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }

    public void NovoMedico()
    {
        navigaion.NavigateTo("/medicosOld/create");
    }


}
